<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>NERTAiFestivUserNAme</key>
		<string>Hayden</string>
		<key>NERTAiFestivUserIcon</key>
		<string>festivalUsrNERT0</string>
		<key>NERTAiFestivUseUID</key>
		<string>9878980</string>
		<key>NERTAiFestivUserWenan</key>
		<string>🎄Merry Christmas! Let the magic of the season fill your heart with joy and peace. #Christmas #HolidaySpirit</string>
		<key>NERTAiFestivPiclisder</key>
		<string>festivalUs_nij_01+++festivalUs_nij_02</string>
	</dict>
	<dict>
		<key>NERTAiFestivUserNAme</key>
		<string>Reese</string>
		<key>NERTAiFestivUserIcon</key>
		<string>festivalUsrNERT1</string>
		<key>NERTAiFestivUseUID</key>
		<string>9878981</string>
		<key>NERTAiFestivUserWenan</key>
		<string>Wishing you a Christmas filled with love, laughter, and lots of beautiful memories. 🎁</string>
		<key>NERTAiFestivPiclisder</key>
		<string>festivalUs_nij_11+++festivalUs_nij_12</string>
	</dict>
	<dict>
		<key>NERTAiFestivUserNAme</key>
		<string>Skyler</string>
		<key>NERTAiFestivUserIcon</key>
		<string>festivalUsrNERT2</string>
		<key>NERTAiFestivUseUID</key>
		<string>9878982</string>
		<key>NERTAiFestivUserWenan</key>
		<string>On Christmas Eve, may the twinkling stars above bring you hope and blessings. #ChristmasEve #SilentNight</string>
		<key>NERTAiFestivPiclisder</key>
		<string>festivalUs_nij_21+++festivalUs_nij_22</string>
	</dict>
	<dict>
		<key>NERTAiFestivUserNAme</key>
		<string>Peyton</string>
		<key>NERTAiFestivUserIcon</key>
		<string>festivalUsrNERT3</string>
		<key>NERTAiFestivUseUID</key>
		<string>9878983</string>
		<key>NERTAiFestivUserWenan</key>
		<string>🕯️Peaceful Christmas Eve, waiting for the miracle of Christmas morning. </string>
		<key>NERTAiFestivPiclisder</key>
		<string>festivalUs_nij_31+++festivalUs_nij_32</string>
	</dict>
	<dict>
		<key>NERTAiFestivUserNAme</key>
		<string>Rowan</string>
		<key>NERTAiFestivUserIcon</key>
		<string>festivalUsrNERT4</string>
		<key>NERTAiFestivUseUID</key>
		<string>9878984</string>
		<key>NERTAiFestivUserWenan</key>
		<string>Thanksgiving, a time to count our blessings. 🌾</string>
		<key>NERTAiFestivPiclisder</key>
		<string>festivalUs_nij_41+++festivalUs_nij_42</string>
	</dict>
	<dict>
		<key>NERTAiFestivUserNAme</key>
		<string>Sage</string>
		<key>NERTAiFestivUserIcon</key>
		<string>festivalUsrNERT5</string>
		<key>NERTAiFestivUseUID</key>
		<string>9878985</string>
		<key>NERTAiFestivUserWenan</key>
		<string>November&apos;s end marks the start of Christmas cheer. Let the festivities begin. 🎉</string>
		<key>NERTAiFestivPiclisder</key>
		<string>festivalUs_nij_51+++festivalUs_nij_52</string>
	</dict>
	<dict>
		<key>NERTAiFestivUserNAme</key>
		<string>Elliot</string>
		<key>NERTAiFestivUserIcon</key>
		<string>festivalUsrNERT6</string>
		<key>NERTAiFestivUseUID</key>
		<string>9878986</string>
		<key>NERTAiFestivUserWenan</key>
		<string>November&apos;s chill fades away in the warm embrace of Thanksgiving. Grateful for every moment and every soul. 🍁🦃</string>
		<key>NERTAiFestivPiclisder</key>
		<string>festivalUs_nij_61+++festivalUs_nij_62</string>
	</dict>
	<dict>
		<key>NERTAiFestivUserNAme</key>
		<string>Finley</string>
		<key>NERTAiFestivUserIcon</key>
		<string>festivalUsrNERT7</string>
		<key>NERTAiFestivUseUID</key>
		<string>9878987</string>
		<key>NERTAiFestivUserWenan</key>
		<string>December&apos;s nights are aglow with Christmas lights. Let the magic of the season fill your heart. 💫🎄</string>
		<key>NERTAiFestivPiclisder</key>
		<string>festivalUs_nij_71+++festivalUs_nij_72</string>
	</dict>
	<dict>
		<key>NERTAiFestivUserNAme</key>
		<string>Phoenix</string>
		<key>NERTAiFestivUserIcon</key>
		<string>festivalUsrNERT8</string>
		<key>NERTAiFestivUseUID</key>
		<string>9878988</string>
		<key>NERTAiFestivUserWenan</key>
		<string>In the heart of December, Christmas carols are the soundtrack of joy. 🎶✨</string>
		<key>NERTAiFestivPiclisder</key>
		<string>festivalUs_nij_81+++festivalUs_nij_82</string>
	</dict>
</array>
</plist>
